.iframe-booking {
  border: none;
  margin: 50px auto;
  width: 100vw;
  height: 100%;
}

.iframe-booking-all {
  height: 700px;
}

.iframe-booking-individual {
  height: 1200px;
}

.iframe {
  max-width: 100% !important;
}

.hero-booking {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/Hero-image-reserver.jpg");
}

.hero-booking-chalet {
  background-image: url("../images/chalet-outside.jpg") !important;
}

.hero-booking-pavillion {
  background-image: url("../images/pavillion-2.jpg") !important;
}

.hero-booking-appart {
  background-image: url("../images/appart-main-2.jpg") !important;
}

.hero-booking-escale {
  background-image: url("../images/hero-escale.jpg") !important;
}

.additional-info-resas {
  text-align: center;
  padding: 35px;
}

.promo-title {
  font-size: 20px;
}

.promo-info {
  text-align: center;
  padding: 35px;
  background-color: #707e6f;
  color: #fff;
  margin-top: 40px;
}

.promo-info p {
  margin: 5px;
}

@media (min-width: 768px) {
  .additional-info-resas {
    padding: 50px 100px;
  }

  .promo-title {
    font-size: 40px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .promo-info {
    padding: 50px 100px;
    width: 60vw;
    margin-top: 50px;
  }
}
