.velo {
  /* color: #00693e; */
}

.logos-velo {
  display: flex;
  justify-content: center;
  align-items: center; /* vertical alignment */
}

.logo-velo {
  max-width: 250px;
  margin: 50px;
}

#intro-velo {
  font-size: 50px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.intro-velo a {
  font-weight: bold;
}
